// Colores
$color-bg-beige:    #F3E9DC;     
$color-primary:     #111827;   
$color-accent:      #d17842;   
$color-white:       #ffffff;
$color-text-muted:  #374151;   

// Tipografía
$font-main: 'Inter', system-ui, sans-serif;
$font-size-base: 1rem;      
$font-size-h1:   4.5rem;      
$font-size-h2:   2.25rem;     
$font-size-lg:   1.125rem;

// Espaciados
$spacing-sm:     0.5rem;
$spacing-base:   1rem;       
$spacing-md:     2.5rem;
$spacing-lg:     3rem;